a {
  text-decoration: none;
}

.sidebar {
    min-width: 220px;
}

.task-done {
    color: #198754;
}

.task-not-done {
    color:#dc3545;
}

.title_block {
    justify-content: space-between;
}

.title_block form{
    display: flex;
    justify-content: space-between;
}
